<!DOCTYPE html>
<html>
  <head>
    <title>Cotação Plamed</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cotação Plamed</h2>
      <form action="/cotacao" method="post">
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input
            type="text"
            id="idade"
            name="idade"
            placeholder="Digite sua idade (separadas por vírgula)"
          />
        </div>
        <div class="form-group">
          <label for="plano">Plano:</label>
          <select id="plano" name="plano">
            <option value="Selecione o plano">Selecione o plano</option>
            <option value="PLAMED EXCLUSIVE Enf CCO">PLAMED EXCLUSIVE Enf CCO</option>
            <option value="MAIS VOCÊ">MAIS VOCÊ</option>
            <option value="PLAMED GOLD I CO-PARTICIPAÇÃO (ENFERMARIA)">PLAMED GOLD I CO-PARTICIPAÇÃO (ENFERMARIA)</option>
            <option value="PLAMED GOLD II CO-PARTICIPAÇÃO (APARTAMENTO)">PLAMED GOLD II CO-PARTICIPAÇÃO (APARTAMENTO)</option>
            <option value="EMPRESARIAL PREFERENCIAL I CECM CP">EMPRESARIAL PREFERENCIAL I CECM CP</option>
            <option value="EMPRESARIAL BASICO SERGIPE II CP (ENFERMARIA)">EMPRESARIAL BASICO SERGIPE II CP (ENFERMARIA)</option>
            <option value="EMPRESARIAL ESPECIAL SERGIPE II (APARTAMENTO)">EMPRESARIAL ESPECIAL SERGIPE II (APARTAMENTO)</option>
            <option value="EMPRESARIAL GOLD I (ENFERMARIA)">EMPRESARIAL GOLD I (ENFERMARIA)</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Cotar" />
        </div>
      </form>
    </div>
    <script>
        const interval = 120000;

        function refreshPage() {
            window.location.reload();
        }

        setInterval(refreshPage, interval);
    </script>
  </body>
</html>
