<!DOCTYPE html>
<html>
  <head>
    <title>Cotações Hapvida</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cotação Hapvida</h2>
      <form action="/cotacao" method="post">
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input
            type="text"
            id="idade"
            name="idade"
            placeholder="Digite sua idade (separadas por vírgula)"
          />
        </div>
        <div class="form-group">
          <label for="plano">Plano:</label>
          <select id="plano" name="plano">
              <option value="Selecione o plano">Selecione o plano</option>
              <option value="enfermaria (pessoa física) - Coparticipação parcial">Enfermaria (pessoa física) - Coparticipação parcial</option>
              <option value="enfermaria (pessoa física) - Coparticipação total">Enfermaria (pessoa física) - Coparticipação total</option>
              <option value="ambulatorial (pessoa física) - Coparticipação parcial">Ambulatorial (pessoa física) - Coparticipação parcial</option>
              <option value="ambulatorial (pessoa física) - Coparticipação total">Ambulatorial (pessoa física) - Coparticipação total</option>
              <option value="apartamento (pessoa física) - Coparticipação parcial">Apartamento (pessoa física) - Coparticipação parcial</option>
              <option value="apartamento (pessoa física) - Coparticipação total">Apartamento (pessoa física) - Coparticipação total</option>
              <option value="Mix enfermaria (pessoa física) - Coparticipação parcial">Mix Enfermaria (pessoa física) - Coparticipação parcial</option>
              <option value="Mix apartamento (pessoa física) - Coparticipação parcial">Mix Apartamento (pessoa física) - Coparticipação parcial</option>
              <option value="enfermaria (pessoa jurídica) - Coparticipação parcial">Enfermaria (pessoa jurídica) - Coparticipação parcial</option>
              <option value="enfermaria (pessoa jurídica) - Coparticipação total">Enfermaria (pessoa jurídica) - Coparticipação total</option>
              <option value="ambulatorial (pessoa jurídica) - Coparticipação parcial">Ambulatorial (pessoa jurídica) - Coparticipação parcial</option>
              <option value="ambulatorial (pessoa jurídica) - Coparticipação total">Ambulatorial (pessoa jurídica) - Coparticipação total</option>
              <option value="apartamento (pessoa jurídica) - Coparticipação parcial">Apartamento (pessoa jurídica) - Coparticipação parcial</option>
              <option value="apartamento (pessoa jurídica) - Coparticipação total">Apartamento (pessoa jurídica) - Coparticipação total</option>
              <option value="allcare Ambulatorial - Sem Coparticipação">Allcare Ambulatorial - Sem Coparticipação</option>
              <option value="allcare Enfermaria - Sem Coparticipação">Allcare Enfermaria - Sem Coparticipação</option>
              <option value="allcare Apartamento - Sem Coparticipação">Allcare Apartamento - Sem Coparticipação</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Cotar" />
        </div>
      </form>
    </div>
  </body>
</html>
