<!DOCTYPE html>
<html>
  <head>
    <title>Cotações Hapvida</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cotação Hapvida</h2>
      <form action="/cotacao" method="post">
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input
            type="text"
            id="idade"
            name="idade"
            placeholder="Digite sua idade (separadas por vírgula)"
          />
        </div>
        <div class="form-group">
          <label for="plano">Plano:</label>
          <select id="plano" name="plano">
            <option value="Selecione o plano">Selecione o plano</option>
            <option value="ambulatorial (pessoa física) - Coparticipação parcial">21028 - Ambulatorial (pessoa física) - Coparticipação parcial</option>
            <option value="ambulatorial (pessoa física) - Coparticipação total">11330 - Ambulatorial (pessoa física) - Coparticipação total</option>
            <option value="enfermaria (pessoa física) - Coparticipação parcial">21042 - Enfermaria (pessoa física) - Coparticipação parcial</option>
            <option value="enfermaria (pessoa física) - Coparticipação total">11812 - Enfermaria (pessoa física) - Coparticipação total</option>
            <option value="apartamento (pessoa física) - Coparticipação parcial">21047 - Apartamento (pessoa física) - Coparticipação parcial</option>
            <option value="apartamento (pessoa física) - Coparticipação total">11813 - Apartamento (pessoa física) - Coparticipação total</option>
            <option value="Mix enfermaria (pessoa física) - Coparticipação parcial">21427 - Mix Enfermaria (pessoa física) - Coparticipação parcial</option>
            <option value="Mix apartamento (pessoa física) - Coparticipação parcial">21428 - Mix Apartamento (pessoa física) - Coparticipação parcial</option>
            <option value="ambulatorial (pessoa jurídica) - Coparticipação parcial">21217 - Ambulatorial (pessoa jurídica) - Coparticipação parcial</option>
            <option value="ambulatorial (pessoa jurídica) - Coparticipação total">11789 - Ambulatorial (pessoa jurídica) - Coparticipação total</option>
            <option value="enfermaria (pessoa jurídica) - Coparticipação parcial">21218 - Enfermaria (pessoa jurídica) - Coparticipação parcial</option>
            <option value="enfermaria (pessoa jurídica) - Coparticipação total">11791 - Enfermaria (pessoa jurídica) - Coparticipação total</option>
            <option value="apartamento (pessoa jurídica) - Coparticipação parcial">21219 - Apartamento (pessoa jurídica) - Coparticipação parcial</option>
            <option value="apartamento (pessoa jurídica) - Coparticipação total">11790 - Apartamento (pessoa jurídica) - Coparticipação total</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value="Cotar" />
        </div>
      </form>
    </div>
  </body>
</html>
