<!DOCTYPE html>
<html>
  <head>
    <title>Cotação Hapvida</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cotação Hapvida</h2>
      <div class="response-container">
        <p>Valores dos planos escolhidos para cada idade:</p>

        {% if valores %} {% for idade, detalhes in valores.items() %} {% for
        plano in detalhes['plano'] %}
        <p>
          Idade: {{ idade }}, Valor do plano: R$ {{ '{:.2f}'.format(plano) }}
        </p>
        {% endfor %} {% endfor %} {% if desconto_aplicado %}
        <p class="valor-desconto">
          Valor Total com Desconto: R$ {{ total_valor }}
        </p>
        {% else %}
        <p class="valor">Valor Total: R$ {{ total_valor }}</p>
        {% endif %} {% else %}
        <p>Nenhum valor disponível.</p>
        {% endif %}

        <form action="/" method="get">
          <div class="form-group">
            <button type="submit">Nova Cotação</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
